#! /bin/bash

# Ensure hermit is loaded by the editor
eval "$("$PWD/bin/hermit" env -)"

# Tero CLI configuration
export TERO_API_ENDPOINT="http://localhost:8081/graphql"

# Load local overrides if they exist
[[ -f .envrc.local ]] && source .envrc.local
